{% load static %}

{# Fonts #}
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
        rel="stylesheet"
/>

{# CSS #}
{# CSS Global #}
<link rel="stylesheet" href="{% static "css/common/reset.css" %}"/>
<link rel="stylesheet" href="{% static "css/common/colors.css" %}"/>
<link rel="stylesheet" href="{% static "css/common/global.css" %}"/>

{# CSS Utils #}
<link rel="stylesheet" href="{% static "css/common/utils.css" %}"/>

{# CSS Components #}
<link rel="stylesheet" href="{% static "css/components/form.css" %}"/>
<link rel="stylesheet" href="{% static "css/components/page-container.css" %}"/>
<link rel="stylesheet" href="{% static "css/components/search-bar.css" %}"/>