form,
section {
    width: 100%;
}

.result {
    border: 1px solid #707070;

    width: 100%;
    max-width: 700px;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    padding: 1.5rem;
}

.result > div:nth-of-type(1) {
    flex: 1;
}

.result > div:nth-of-type(1) h2 {
    color: var(--gray);
}

.result > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.result .status:before {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    background: var(--gray);
    border-radius: 50%;
}

.result .status.available:before {
    background: #82db6c;
}

.result .status.reserved:before {
    background: #ffee00;
}

.result .status.unavailable:before {
    background: #e44d26;
}

@media (max-width: 991px) {
    .result {
        flex-direction: column;
    }
}